/* Hi Stephen, hope you enjoy! */

<head>

<link href="styles/main.css" rel="stylesheet" />

</head>

body {
    background-color: yellow; 
}

h1{ font-style: italic;}
h1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h1{ font-size: 450%;}

table {
    width: 50%;
    color: black;
    border: 7.5px solid darkgreen;
    border-radius: 15px;
    background: orange
    }
       
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: red;
  }    

  img {
    border-radius: 20px;
    border: 7.5px solid darkgreen;
  }

  <h2>Rounded Image</h2>

<p>Use the border-radius property to create rounded images:</p>

<img src="https://images.askmen.com/sports/health/_1498481623.jpg" alt="Austin Powers Fat Bastard character" 
